spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/wallet
    username: user
    password: pass

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml